<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>count</title>
</head><head>
 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="alert alert-danger">Count page</h1><br>
<h1 class="alert alert-warning">Your paragraph is</h1><br>

{{fulltext}} consists of {{word_count}} words.<br>
<p>{{word_dict}}<br></p>
<p>{{word_list}}</p>
<p>
    {% for k,v in word_list %}
    <h3>{{k}}->{{v}}</h3>
    {% endfor %}
</p>

<h1><a href={% url 'home' %}>Try Again</a></h1>



</body>
</html>